body {
  width: 100vw;
  height: 100vh;
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
  backdrop-filter: blur(8px);
  text-align: center;
}
.wrap {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  color: black;
}
.wrapTitle {
  padding: 20px 0 15px 0;
  margin: 0;
  font-size: 44px;
  font-weight: 800;
  background-color: red;
  background-image: linear-gradient(
    45deg,
    #ca4246 26.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #9ba252 50%,
    #437272 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.countryNameInput {
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 2.2px;
}
.countryNameInput:focus,
.countryNameInput:active {
  outline-color: #2f4f4f;
}
.card {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  text-align: left;
}
.card ul {
  padding-left: 20px;
}
.img_flag {
  margin: 20px 0 0 40px;
}
